h1 {
  font-weight: 100;
  background-color: #1984c5;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
}

.text-underline-hover {
  font-weight: 100;
  text-decoration: none;
  color:#ffffff;
  font-size:65px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.top-buffer { margin-top:40px; }

.posting.body {
  font-size: 1.2em;
}

.project.attribute {
  font-weight: sans-serif;
}

.subtitle {
  font-size:35px;
  color:#0d6094;
  font-family: "Lucida Console", "Courier New", monospace;
}

.video_desc {
  font-size:14px;
  color:#000000;
  font-family: "Lucida Console", "Courier New", monospace;
  word-break: break-word;
}


.project.owner {
  font-weight: sans-serif;
}


.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  font-size:18px;
  align-items: center;
  font-family: "Lucida Console", "Courier New", monospace;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.top-buffer { margin-top:20px; }

.blank-row {
  height: 20px;
}

.blank-row-half {
  height: 10px;
}

.video_img1 {
  height: 150px;
  grid-column: 1;
  margin-right: 15px;
}

.video_img2 {
  height: 35px;
  grid-column: 1;
  margin-right: 15px;
}



.query-bar {
  background-color: #1984c5;
  color:#ffffff;
  font-size:17px;
  padding: 5px 5px 5px 5px;
}

.query-bar2 {
  background-color: #ffffff;
  color:#ffffff;
  font-size:17px;
  padding: 5px 5px 5px 5px;
}

.query-bar-previews {
  background-color: #c54a19;
  color:#ffffff;
  font-size:17px;
  padding: 5px 5px 5px 5px;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

footer {
  padding: 0.0in;
  font-size:11px;
  color:rgb(41, 41, 41);
}