h1 {
    font-weight: 100;
    background-color: #1984c5;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .text-underline-hover {
    font-weight: 100;
    text-decoration: none;
    color:#ffffff;
    font-size:65px;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .top-buffer { margin-top:40px; }
  
  .posting.body {
    font-size: 1.2em;
  }
  
  .project.attribute {
    font-weight: sans-serif;
  }
  
  .subtitle {
    font-size:35px;
    color:#0d6094;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .video_desc {
    font-size:14px;
    color:#000000;
    font-family: "Lucida Console", "Courier New", monospace;
    word-break: break-word;
  }

  
  .project.owner {
    font-weight: sans-serif;
  }
  
  
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  
  .vertical-align {
    display: flex;
    flex-direction: row;
  }
  
  .vertical-align > [class^="col-"],
  .vertical-align > [class*=" col-"] {
    display: flex;
    font-size:18px;
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
    justify-content: center; /* Optional, to align inner items 
                                horizontally inside the column */
  }
  
  .top-buffer { margin-top:20px; }
  
  .blank-row {
    height: 20px;
  }

  .blank-row-half {
    height: 10px;
  }

  .video_img1 {
    height: 150px;
    grid-column: 1;
    margin-right: 15px;
  }

  .video_img2 {
    height: 150px;
    grid-column: 2;
    margin-right: 15px;
  }

  .video_img3 {
    grid-column: 3;
    height: 150px;
    margin-right: 15px;
  }

  .video_img4 {
    grid-column: 4;
    height: 150px;
    margin-right: 15px;
  }

  .img_positive {
    height: 40px;
    margin-right: 15px;
  }

  .img_neutral {
    height: 70px;
    grid-column: 1;
    margin-right: 15px;
  }

  .img_negative {
    height: 70px;
    grid-column: 1;
    margin-right: 15px;
  }
  
  .query-bar {
    background-color: #1984c5;
    color:#ffffff;
    font-size:17px;
    padding: 5px 5px 5px 5px;
  }

  .query-bar-previews {
    background-color: #c54a19;
    color:#ffffff;
    font-size:17px;
    padding: 5px 5px 5px 5px;
  }

  .grid-container {
    display: grid;
    height: 150px;
    background-color: rgb(255, 255, 255);
  }

  .grid-container-text {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(auto, auto);
    background-color: rgb(255, 255, 255);
    
  }

  .grid-container-valuation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(auto, auto);
    background-color: rgb(255, 255, 255);
    
  }

  .break-word {
    word-break: break-word;
  }

  .item1 {
    grid-column: 1;
    margin-right: 15px;
    
  }

  .item2 {
    grid-column: 2;
    margin-right: 15px;
  }
  
  .item3 {
    grid-column: 3;
    margin-right: 15px;
  }

  .item4 {
    grid-column: 4;
    margin-right: 15px;
  }

  .item5 {
    grid-column: 5;
    margin-right: 15px;
  }

  .item6 {
    grid-column: 6;
    margin-right: 15px;
  }

  .item7 {
    grid-column: 7;
    margin-right: 15px;
  }

  .item8 {
    grid-column: 8;
    margin-right: 15px;
  }
  
  
  
  footer {
    padding: 0.0in;
    font-size:11px;
    color:rgb(41, 41, 41);
  }

 

