---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=BAD_TOKEN&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 06 Nov 2022 11:29:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "grPOPYEUUZN3ltuDUGEWlrTR90U",
              "id": "1",
              "snippet": {
                "title": "Film & Animation",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
              "etag": "Q0xgUf8BFM8rW3W0R9wNq809xyA",
              "id": "2",
              "snippet": {
                "title": "Autos & Vehicles",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
              "etag": "qnpwjh5QlWM5hrnZCvHisqu[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=BAD_TOKEN&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 06 Nov 2022 11:29:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "7d8GkyLf3te8E4zmXgP9DE0rUKs",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "SPisg03uqd_SUl4IovSkRpR3YN4",
              "id": "ggGINmj5EQE",
              "snippet": {
                "publishedAt": "2022-09-08T21:01:43Z",
                "channelId": "UCWI2X2x3KASrvEZXdBVNxkA",
                "title": "El Señor de los Anillos : La Saga en 1 Video I Fedewolf",
                "description": "Ya tenemos playeras! https://worales.mx/collections/fedelobo \n\nDirectos de Lunes a Viernes 8:00 pm (MX) en mi pagina de Facebook: https://www.facebook.com/soyfedelobo\n\nTe dejo mis demás canales: \n\nFedelobo: https://www.youtube.com/user/elfedelobo\nCanal de videojuegos: https://www.youtube.com/c/Pixelteca \nCanal con Nadia: https://www.youtube.com/amorsindistancia\n\n\nMis redes sociales:\n\nTwitter: https://twitter.com/SoyFedelobo\nFacebook: https://www.facebook.com/soyfedelobo/\nInstagram: https://www.instagram.com/soyfedelobo",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  }
                },
                "channelTitle": "El FedeWolf",
                "tags": [
                  "series",
                  "peliculas",
                  "comedia",
                  "resumen",
                  "la historia en 1 video",
                  "la saga en 1 video",
                  "fedelobo",
                  "fedewolf",
                  "resumen fedelobo",
                  "resumen fedewolf",
                  "historia fedelobo",
                  "historia fedewolf",
                  "fede lobo",
                  "fede wolf"
                ],
                "categoryId": "1",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "El Señor de los Anillos : La Saga en 1 Video I Fedewolf",
                  "description": "Ya tenemos playeras! https://worales.mx/collections/fedelobo \n\nDirectos de Lunes a Viernes 8:00 pm (MX) en mi pagina de Facebook: https://www.facebook.com/soyfedelobo\n\nTe dejo mis demás canales: \n\nFedelobo: https://www.youtube.com/user/elfedelobo\nCanal de videojuegos: https://www.youtube.com/c/Pixelteca \nCanal con Nadia: https://www.youtube.com/amorsindistancia\n\n\nMis redes sociales:\n\nTwitter: https://twitter.com/SoyFedelobo\nFacebook: https://www.facebook.com/soyfedelobo/\nInstagram: https://www.instagram.com/soyfedelobo"
                }
              },
              "contentDetails": {
                "duration": "PT43M16S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              },
              "statistics": {
                "viewCount": "3251762",
                "likeCount": "164731",
                "favoriteCount": "0",
                "commentCount": "6342"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 06 Nov 2022 11:29:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=BAD_TOKEN&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 06 Nov 2022 11:29:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=<YOUTUBE_API_KEY>&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"NCPhGL8_sMGJ3zaYV3ArzdaRb58\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"RZ9nmCAtHqITsB8Mocib3lqrvEw\",\n      \"id\": \"C3iLF8e0i0o\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2022-11-04T18:30:19Z\",\n        \"channelId\":
        \"UCzoUWqjCbcfWFdOMvoep8FA\",\n        \"title\": \"Fuimos al museo de las
        ilusiones \U0001F631 Jukilop | Juan de Dios Pantoja\",\n        \"description\":
        \"Hola familia PANTOJITA \U0001F48E gracias por tenerme de nuevo en sus pantallas
        \U0001F603 estoy muy contento y agradecido por todo el apoyo que siempre me
        dan, GRACIAS POR SER PARTE DE ESTA FAMILIA QUE TANTO AMO ❤️\U0001F64F\U0001F3FB\\r\\n\\r\\n\\r\\n▪️SIGUEME
        EN MIS REDES SOCIALES QUIERO CONECTARME MAS CONTIGO:\\r\\n\\r\\n• INSTAGRAM:
        @JuandediosPantoja -  https://bit.ly/2vWtdSj\\r\\n\\r\\n • TWITTER:  @Juandedios_P
        - https://bit.ly/2OY3UYN\\r\\n\\r\\n• PAGINA DE FACE: Juan De Dios Pantoja
        Corona - https://bit.ly/2KHVW2E \\r\\n\\r\\n\\r\\n\U0001F4E9 : marcasjddp@gmail.com\",\n
        \       \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/C3iLF8e0i0o/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/C3iLF8e0i0o/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/C3iLF8e0i0o/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/C3iLF8e0i0o/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/C3iLF8e0i0o/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Juan De Dios Pantoja\",\n        \"tags\": [\n
        \         \"Team\",\n          \"juki\",\n          \"Juan\",\n          \"De\",\n
        \         \"Dios\",\n          \"Pantoja\",\n          \"jd\",\n          \"youtube\",\n
        \         \"retos\",\n          \"r[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=BAD_TOKEN&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 06 Nov 2022 11:29:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_API_KEY>&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"Jeu0KesxWmB8Bc5qMzzc73hkGus\",\n  \"nextPageToken\": \"QURTSl9pM2Q1bGtDdWdmdXd4OUNaVm53Nk1jZUxVQzQwdWhVaWdaT010SEhrRGhiQnY3dEtpOVYxZDc5aXVhblN3Ymw3dGdsMExqZkJESnM2bWpHUllMV3E4VldfM3h3Q3c=\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 20,\n    \"resultsPerPage\": 20\n
        \ },\n  \"items\": [\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"ykGB5xrU4w_SNqOJi-nUNRCxs_o\",\n      \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"ggGINmj5EQE\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"D1BZWCk6U8tooI-3SHx4eayG3O4\",\n
        \         \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n          \"snippet\":
        {\n            \"videoId\": \"ggGINmj5EQE\",\n            \"textDisplay\":
        \"Otra saga así de chula: \\u003ca href=\\\"https://www.youtube.com/watch?v=Mc_u5XEWVNw\\\"\\u003ehttps://www.youtube.com/watch?v=Mc_u5XEWVNw\\u003c/a\\u003e\",\n
        \           \"textOriginal\": \"Otra saga así de chula: https://www.youtube.com/watch?v=Mc_u5XEWVNw\",\n
        \           \"authorDisplayName\": \"El FedeWolf\",\n            \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/ytc/AMLnZu_uJvyPLGU110GEPsqG7ZppdBYTdA8CjDPbmAkjrQ=s48-c-k-c0x00ffffff-no-rj\",\n
        \           \"authorChannelUrl\": \"http://www.youtube.com/channel/UCWI2X2x3KASrvEZXdBVNxkA\",\n
        \           \"authorChannelId\": {\n              \"value\": \"UCWI2X2x3KASrvEZXdBVNxkA\"\n
        \           },\n            \"canRate\": true,\n            \"viewerRating\":
        \"none\",\n            \"likeCount\": 1417,\n            \"publishedAt\":
        \"2022-09-08T21:03:10Z\",\n            \"updatedAt\": \"2022-09-08T21:03:10Z\"\n
        \         }\n        },\n        \"canReply\": true,\n        \"totalReplyCount\":
        81,\n        \"isPublic\": true\n      },\n      \"replies\": {\n        \"comments\":
        [\n          {\n            \"kind\": \"youtube#comment\",\n            \"etag\":
        \"4E2jt4YDl-SbGmt6zJH-oIw-iFw\",\n            \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg.9fj9LeWRE-39hUKYO-MM8T\",\n
        \           \"snippet\": {\n              \"videoId\": \"ggGINmj5EQE\",\n
        \             \"textDisplay\": \"\\u003ca href=\\\"https://youtu.be/A_FC3BeqSYk\\\"\\u003ehttps://youtu.be/A_FC3BeqSYk\\u003c/a\\u003e\",\n
        \             \"textOriginal\": \"https://youtu.be/A_FC3BeqSYk\",\n              \"parentId\":
        \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n              \"authorDisplayName\": \"GASEMM
        CASCAR\",\n              \"authorProfileImageUrl\": \"https://yt3.ggpht.com/ytc/AMLnZu9ymQG0uoT3_gk0E16-tFifGvAeI8gus8g_jCxLvA=s48-c-k-c0x00ffffff-no-rj\",\n
        \             \"authorChannelUrl\": \"http://www.youtube.com/channel/UC7gZTsxm2Q1BU9KhvBVjZeA\",\n
        \             \"authorChannelId\": {\n                \"value\": \"UC7gZTsxm2Q1BU9KhvBVjZeA\"\n
        \             },\n         [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=MX
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [...]
