---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=BAD_TOKEN&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 24 Oct 2022 12:24:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "grPOPYEUUZN3ltuDUGEWlrTR90U",
              "id": "1",
              "snippet": {
                "title": "Film & Animation",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
              "etag": "Q0xgUf8BFM8rW3W0R9wNq809xyA",
              "id": "2",
              "snippet": {
                "title": "Autos & Vehicles",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
              "etag": "qnpwjh5QlWM5hrnZCvHisqu[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=BAD_TOKEN&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 24 Oct 2022 12:24:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=<YOUTUBE_API_KEY>&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"T3xMm7NFWK_XmVvvE_t9WrxWLC4\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"b3dR78ibAby5ecjmK-fEp-CbacI\",\n      \"id\": \"oBlTjRm9fgs\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2022-10-23T03:24:44Z\",\n        \"channelId\":
        \"UCTIyEyDNHPrwVFPhpi5dm0A\",\n        \"title\": \"Resumen y goles | América
        1(2)-(3)1 Toluca | Liga Mx AP2022 - Semis VUELTA | TUDN\",\n        \"description\":
        \"Toluca eliminó a las águilas en su propia cancha y avanzan a la gran final
        del A0 2022.\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/oBlTjRm9fgs/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/oBlTjRm9fgs/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/oBlTjRm9fgs/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/oBlTjRm9fgs/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"TUDN México\",\n        \"tags\": [\n          \"Televisa\",\n
        \         \"Univision\",\n          \"TUDN\",\n          \"Televisa deportes\",\n
        \         \"TUDN México\",\n          \"TUDN USA\",\n          \"Deportes\",\n
        \         \"soccer\",\n          \"futbol mexicano\",\n          \"Liga Mx\",\n
        \         \"Liga Mx 2022\",\n          \"Apertura 2022\",\n          \"goles
        liga mx\",\n          \"resumen liga mx\",\n          \"america vs toluca
        resumen\",\n          \"america liguilla 2022\",\n          \"toluca liguilla
        2022\",\n          \"tano ortiz\",\n          \"gol Henry martín\",\n          \"gol
        anulado America\",\n          \"america eliminado\",\n          \"gol torres
        nilo vs america\"\n        ],\n        \"categoryId\": \"17\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"defaultLanguage\": \"es-419\",\n        \"localized\":
        {\n          \"title\": \"Resumen y goles | América 1(2)-(3)1 Toluca | Liga
        Mx AP2022 - Semis VUELTA | TUDN\",\n          \"description\": \"Toluca eliminó
        a las águilas en su propia cancha y avanzan a la gran final del A0 2022.\"\n
        \       },\n        \"defaultAudioLanguage\": \"es-419\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#video\",\n      \"etag\": \"5n63FvsIiEkvrYsWZvCMn2PSz4w\",\n
        \     \"id\": \"EnvrZved2uY\",\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-10-22T18:56:13Z\",\n        \"channelId\": \"UCgTOIiEgjm58xLjHvDjmgdA\",\n
        \       \"title\": \"Me banearon\",\n        \"description\": \"• Canal Primario
        : https://www.youtube.com/channel/UC4DLCrt55UwaDvAswIr_59A\\n\\n● ¡Sigueme
        por aqui! [...]
