---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=BAD_TOKEN&part=snippet,contentDetails,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 23 Oct 2022 09:56:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "3CfeNS4PgUPtxNelWQ7qTnGzxlg",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "ECxkIzzLWFfAJKjayX87u57kvpY",
              "id": "ggGINmj5EQE",
              "snippet": {
                "publishedAt": "2022-09-08T21:01:43Z",
                "channelId": "UCWI2X2x3KASrvEZXdBVNxkA",
                "title": "El Señor de los Anillos : La Saga en 1 Video I Fedewolf",
                "description": "Ya tenemos playeras! https://worales.mx/collections/fedelobo \n\nDirectos de Lunes a Viernes 8:00 pm (MX) en mi pagina de Facebook: https://www.facebook.com/soyfedelobo\n\nTe dejo mis demás canales: \n\nFedelobo: https://www.youtube.com/user/elfedelobo\nCanal de videojuegos: https://www.youtube.com/c/Pixelteca \nCanal con Nadia: https://www.youtube.com/amorsindistancia\n\n\nMis redes sociales:\n\nTwitter: https://twitter.com/SoyFedelobo\nFacebook: https://www.facebook.com/soyfedelobo/\nInstagram: https://www.instagram.com/soyfedelobo",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  }
                },
                "channelTitle": "El FedeWolf",
                "tags": [
                  "series",
                  "peliculas",
                  "comedia",
                  "resumen",
                  "la historia en 1 video",
                  "la saga en 1 video",
                  "fedelobo",
                  "fedewolf",
                  "resumen fedelobo",
                  "resumen fedewolf",
                  "historia fedelobo",
                  "historia fedewolf",
                  "fede lobo",
                  "fede wolf"
                ],
                "categoryId": "1",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "El Señor de los Anillos : La Saga en 1 Video I Fedewolf",
                  "description": "Ya tenemos playeras! https://worales.mx/collections/fedelobo \n\nDirectos de Lunes a Viernes 8:00 pm (MX) en mi pagina de Facebook: https://www.facebook.com/soyfedelobo\n\nTe dejo mis demás canales: \n\nFedelobo: https://www.youtube.com/user/elfedelobo\nCanal de videojuegos: https://www.youtube.com/c/Pixelteca \nCanal con Nadia: https://www.youtube.com/amorsindistancia\n\n\nMis redes sociales:\n\nTwitter: https://twitter.com/SoyFedelobo\nFacebook: https://www.facebook.com/soyfedelobo/\nInstagram: https://www.instagram.com/soyfedelobo"
                }
              },
              "contentDetails": {
                "duration": "PT43M16S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              },
              "statistics": {
                "viewCount": "2942079",
                "likeCount": "160418",
                "favoriteCount": "0",
                "commentCount": "6257"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 23 Oct 2022 09:56:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=BAD_TOKEN&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 23 Oct 2022 09:56:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_API_KEY>&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"DcXGnBZWuLrotDX-JaDFFQ-Ln1Q\",\n  \"nextPageToken\": \"QURTSl9pM21oQlQzN00tenplcjVtaFdrYm9iaGtJbGRyRVhuX1VLN0Z4QVREVlhkSWltOHFIeld4NmUxSXpyTTlOT19mbEhrSUF1X1RTeUJDVnh2Wkl0bmlzZVVsdE43LXc=\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 20,\n    \"resultsPerPage\": 20\n
        \ },\n  \"items\": [\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"cjqe60V12bAIx0c-nijl9VMfTMY\",\n      \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"ggGINmj5EQE\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"5w0e-UcgtP8A9ZQ5JQzC7Pqx93o\",\n
        \         \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n          \"snippet\":
        {\n            \"videoId\": \"ggGINmj5EQE\",\n            \"textDisplay\":
        \"Otra saga así de chula: \\u003ca href=\\\"https://www.youtube.com/watch?v=Mc_u5XEWVNw\\\"\\u003ehttps://www.youtube.com/watch?v=Mc_u5XEWVNw\\u003c/a\\u003e\",\n
        \           \"textOriginal\": \"Otra saga así de chula: https://www.youtube.com/watch?v=Mc_u5XEWVNw\",\n
        \           \"authorDisplayName\": \"El FedeWolf\",\n            \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/ytc/AMLnZu_uJvyPLGU110GEPsqG7ZppdBYTdA8CjDPbmAkjrQ=s48-c-k-c0x00ffffff-no-rj\",\n
        \           \"authorChannelUrl\": \"http://www.youtube.com/channel/UCWI2X2x3KASrvEZXdBVNxkA\",\n
        \           \"authorChannelId\": {\n              \"value\": \"UCWI2X2x3KASrvEZXdBVNxkA\"\n
        \           },\n            \"canRate\": true,\n            \"viewerRating\":
        \"none\",\n            \"likeCount\": 1388,\n            \"publishedAt\":
        \"2022-09-08T21:03:10Z\",\n            \"updatedAt\": \"2022-09-08T21:03:10Z\"\n
        \         }\n        },\n        \"canReply\": true,\n        \"totalReplyCount\":
        82,\n        \"isPublic\": true\n      },\n      \"replies\": {\n        \"comments\":
        [\n          {\n            \"kind\": \"youtube#comment\",\n            \"etag\":
        \"dSvz1Y4lnwsrhYUpb9KtfFSuoDY\",\n            \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg.9fj9LeWRE-39gzB6IOBIdI\",\n
        \           \"snippet\": {\n              \"videoId\": \"ggGINmj5EQE\",\n
        \             \"textDisplay\": \"Cuando harás la saga en 1 video de Piratas
        del Caribe??\",\n              \"textOriginal\": \"Cuando harás la saga en
        1 video de Piratas del Caribe??\",\n              \"parentId\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n
        \             \"authorDisplayName\": \"AliXu Fáyruz\",\n              \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/YLhZbXVpau5j_im0C2CAsSSojweWTDFJ-7GleAiSfQKksmMwyChk9Hk26mMkXpwT43sboUEo=s48-c-k-c0x00ffffff-no-rj\",\n
        \             \"authorChannelUrl\": \"http://www.youtube.com/channel/UCwVZ9OCpbqluU2lXDvHGILA\",\n
        \             \"authorChannelId\": {\n                \"value\": \"UCwVZ9OCpbqluU2lXDvHGILA\"\n
        \    [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=BAD_TOKEN&part=snippet&regionCode=MX
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 23 Oct 2022 09:56:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=<YOUTUBE_API_KEY>&part=snippet&regionCode=MX
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"sXvYgt_nUqx12BtCgUXr_6y9Ae4\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"2XBI2GZmC5uR1-s5ROXpvTEpcpQ\",\n      \"id\": \"mxF58TYuPaM\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2022-10-21T04:01:22Z\",\n        \"channelId\":
        \"UCgmUtgxaeaT6CSHc70AQMEg\",\n        \"title\": \"Kim Loaiza - DEVOTO (Video
        Oficial) Ft. Elvis De Yongol\",\n        \"description\": \"DEVOTO • Kim Loaiza
        • Space Music • Elvis De Yongol \\n\\n\\n✨ SIGUEME AQUI ✨\\n\\n\\n• INSTAGRAM:
        @Kimberly.Loaiza http://bit.ly/IGKim\\n\\n• PAGINA DE FACEBOOK: Kimberly Loaiza
        http://bit.ly/FBKimL\\n\\n• TWITTER: KimberlyLoaiza_   http://bit.ly/KimLTW\\n\\n•SUSCRÍBETE
        AQUÍ: https://bit.ly/3oYuGUW\\n\\nLETRA ✍\U0001F3FB \\n\\nPor la boca muere
        el pez \\ny tú la abriste mucho y te me ahogaste \\nla herida que dejaste
        \\nyo la curo con unos tequilas \\nhay que cosas de la vida \\nalguien como
        tú fácil de olvida \\nno vuelvo a caer.\\n \\nCuando me veas a través del
        vaso \\ny sepas que fuiste un total fracaso \\nTe acuerdes de mi estando[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=BAD_TOKEN&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 23 Oct 2022 09:56:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "grPOPYEUUZN3ltuDUGEWlrTR90U",
              "id": "1",
              "snippet": {
                "title": "Film & Animation",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
              "etag": "Q0xgUf8BFM8rW3W0R9wNq809xyA",
              "id": "2",
              "snippet": {
                "title": "Autos & Vehicles",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
           [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "dQ73605Y2XDSScvHLq7AbIZU8E[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=BAD_TOKEN&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 23 Oct 2022 10:19:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=<YOUTUBE_API_KEY>&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"KrIip5i5VBivAjJXIhQo5HSTiB8\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"dFrn9teBXJsMpNiuNUhJ5aJr-hM\",\n      \"id\": \"Zm0LjUBZyUY\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2022-10-22T12:00:11Z\",\n        \"channelId\":
        \"UC_F8DoJf9MZogEOU51TpTbQ\",\n        \"title\": \"Clash Royale: NEW UPDATE!
        \U0001F9D8 Two New Cards and much more! (TV Royale)\",\n        \"description\":
        \"The biggest update of the year! \U0001F389\\nTwo new cards, a new ranked
        mode, a reworked Trophy Road, the Deck Explorer, new King Levels... and much
        more! Coming on October 26th!\\nFind out in this TV Royale!\\n\\nFollow us
        on our Socials!\\nTwitter ► https://twitter.com/ClashRoyale/\\nInstagram ►
        https://www.instagram.com/clashroyale\\nTikTok ► https://www.tiktok.com/@clashroyale\\nFacebook
        ► https://www.facebook.com/ClashRoyale/\\n\\nSubscribe for more! ►► http://supr.cl/SubRoyale\\n\\nSubscribe
        for more! ►► http://supr.cl/SubRoyale\\n\\nEnter the Arena! \\nFrom the creators
        of Clash of Clans comes a real-time multiplayer game starring the Royales,
        your favorite Clash characters and much, much more.\\nCollect and upgrade
        dozens of cards featuring the Cl[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=BAD_TOKEN&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 23 Oct 2022 10:20:14 GMT
recorded_with: VCR 6.1.0
