---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=<YOUTUBE_API_KEY>&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "sAhHBptwo-AHf654oBFEZWRNWYs",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "YuIxazH2o4FOWFDWbUDcy15980E",
              "id": "ggGINmj5EQE",
              "snippet": {
                "publishedAt": "2022-09-08T21:01:43Z",
                "channelId": "UCWI2X2x3KASrvEZXdBVNxkA",
                "title": "El Señor de los Anillos : La Saga en 1 Video I Fedewolf",
                "description": "Ya tenemos playeras! https://worales.mx/collections/fedelobo \n\nDirectos de Lunes a Viernes 8:00 pm (MX) en mi pagina de Facebook: https://www.facebook.com/soyfedelobo\n\nTe dejo mis demás canales: \n\nFedelobo: https://www.youtube.com/user/elfedelobo\nCanal de videojuegos: https://www.youtube.com/c/Pixelteca \nCanal con Nadia: https://www.youtube.com/amorsindistancia\n\n\nMis redes sociales:\n\nTwitter: https://twitter.com/SoyFedelobo\nFacebook: https://www.facebook.com/soyfedelobo/\nInstagram: https://www.instagram.com/soyfedelobo",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/ggGINmj5EQE/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  }
                },
                "channelTitle": "El FedeWolf",
                "tags": [
                  "series",
                  "peliculas",
                  "comedia",
                  "resumen",
                  "la historia en 1 video",
                  "la saga en 1 video",
                  "fedelobo",
                  "fedewolf",
                  "resumen fedelobo",
                  "resumen fedewolf",
                  "historia fedelobo",
                  "historia fedewolf",
                  "fede lobo",
                  "fede wolf"
                ],
                "categoryId": "1",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "El Señor de los Anillos : La Saga en 1 Video I Fedewolf",
                  "description": "Ya tenemos playeras! https://worales.mx/collections/fedelobo \n\nDirectos de Lunes a Viernes 8:00 pm (MX) en mi pagina de Facebook: https://www.facebook.com/soyfedelobo\n\nTe dejo mis demás canales: \n\nFedelobo: https://www.youtube.com/user/elfedelobo\nCanal de videojuegos: https://www.youtube.com/c/Pixelteca \nCanal con Nadia: https://www.youtube.com/amorsindistancia\n\n\nMis redes sociales:\n\nTwitter: https://twitter.com/SoyFedelobo\nFacebook: https://www.facebook.com/soyfedelobo/\nInstagram: https://www.instagram.com/soyfedelobo"
                }
              },
              "contentDetails": {
                "duration": "PT43M16S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              },
              "statistics": {
                "viewCount": "2961754",
                "likeCount": "160778",
                "favoriteCount": "0",
                "commentCount": "6264"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 24 Oct 2022 03:12:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ggGINmj5EQE&key=BAD_TOKEN&part=snippet,statistics,contentDetails
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 24 Oct 2022 03:12:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=<YOUTUBE_API_KEY>&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoCategoryListResponse",
          "etag": "fIIv2-q7-AkaOeJf0LPrlnu-0As",
          "items": [
            {
              "kind": "youtube#videoCategory",
              "etag": "grPOPYEUUZN3ltuDUGEWlrTR90U",
              "id": "1",
              "snippet": {
                "title": "Film & Animation",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
              "etag": "Q0xgUf8BFM8rW3W0R9wNq809xyA",
              "id": "2",
              "snippet": {
                "title": "Autos & Vehicles",
                "assignable": true,
                "channelId": "UCBR8-60-B28hp2BmDPdntcQ"
              }
            },
            {
              "kind": "youtube#videoCategory",
           [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videoCategories?key=BAD_TOKEN&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 24 Oct 2022 03:12:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=<YOUTUBE_API_KEY>&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"QG8TIyD-5Au6Yjo01qaLMC91ZQ8\",\n
        \ \"items\[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostPopular&key=BAD_TOKEN&part=snippet&regionCode=GT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 24 Oct 2022 03:12:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_API_KEY>&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"XzKgUZGhueSKJf4joCUaREmJ0g0\",\n  \"nextPageToken\": \"QURTSl9pMzhxZzRsdnpJNlRNVHAxZjNPcDRaempZTGs3eHFMNXcxUUxBdU1NTFNBSVRySzRjQVduNm5RUW5kZmN0ckpZNF9zVkt0VUZQbDlMMXBHNzY3SHcyamE0aEtvUnc=\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 20,\n    \"resultsPerPage\": 20\n
        \ },\n  \"items\": [\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"3sMgNhqeNYsbFcHpYGWg3DjKxYQ\",\n      \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"ggGINmj5EQE\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"Bi7p5mW1uBkIf0rJpup8AfWfrkg\",\n
        \         \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n          \"snippet\":
        {\n            \"videoId\": \"ggGINmj5EQE\",\n            \"textDisplay\":
        \"Otra saga así de chula: \\u003ca href=\\\"https://www.youtube.com/watch?v=Mc_u5XEWVNw\\\"\\u003ehttps://www.youtube.com/watch?v=Mc_u5XEWVNw\\u003c/a\\u003e\",\n
        \           \"textOriginal\": \"Otra saga así de chula: https://www.youtube.com/watch?v=Mc_u5XEWVNw\",\n
        \           \"authorDisplayName\": \"El FedeWolf\",\n            \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/ytc/AMLnZu_uJvyPLGU110GEPsqG7ZppdBYTdA8CjDPbmAkjrQ=s48-c-k-c0x00ffffff-no-rj\",\n
        \           \"authorChannelUrl\": \"http://www.youtube.com/channel/UCWI2X2x3KASrvEZXdBVNxkA\",\n
        \           \"authorChannelId\": {\n              \"value\": \"UCWI2X2x3KASrvEZXdBVNxkA\"\n
        \           },\n            \"canRate\": true,\n            \"viewerRating\":
        \"none\",\n            \"likeCount\": 1389,\n            \"publishedAt\":
        \"2022-09-08T21:03:10Z\",\n            \"updatedAt\": \"2022-09-08T21:03:10Z\"\n
        \         }\n        },\n        \"canReply\": true,\n        \"totalReplyCount\":
        82,\n        \"isPublic\": true\n      },\n      \"replies\": {\n        \"comments\":
        [\n          {\n            \"kind\": \"youtube#comment\",\n            \"etag\":
        \"dSvz1Y4lnwsrhYUpb9KtfFSuoDY\",\n            \"id\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg.9fj9LeWRE-39gzB6IOBIdI\",\n
        \           \"snippet\": {\n              \"videoId\": \"ggGINmj5EQE\",\n
        \             \"textDisplay\": \"Cuando harás la saga en 1 video de Piratas
        del Caribe??\",\n              \"textOriginal\": \"Cuando harás la saga en
        1 video de Piratas del Caribe??\",\n              \"parentId\": \"UgwVnoC8Iy-N7vukGVZ4AaABAg\",\n
        \             \"authorDisplayName\": \"AliXu Fáyruz\",\n              \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/YLhZbXVpau5j_im0C2CAsSSojweWTDFJ-7GleAiSfQKksmMwyChk9Hk26mMkXpwT43sboUEo=s48-c-k-c0x00ffffff-no-rj\",\n
        \             \"authorChannelUrl\": \"http://www.youtube.com/channel/UCwVZ9OCpbqluU2lXDvHGILA\",\n
        \             \"authorChannelId\": {\n                \"value\": \"UCwVZ9OCpbqluU2lXDvHGILA\"\n
        \    [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=BAD_TOKEN&part=snippet,replies&videoId=ggGINmj5EQE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 24 Oct 2022 03:12:58 GMT
recorded_with: VCR 6.1.0
